* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  width: 1440px;
  min-width: 1000px;
  height: 780px;
}
main .card, main .form {
  height: 100%;
}
main .card {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  padding: 30px;
  align-items: center;
}
main .form {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .form form {
  width: 400px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
}
main .form form label, main .form form input {
  display: block;
  width: 100%;
  padding: 7px;
  margin-bottom: 2px;
  font-family: "Space Grotesk", sans-serif;
}
main .form form label {
  font-size: 0.9rem;
  letter-spacing: 2px;
  padding-left: 0;
}
main .form form input {
  border-radius: 5px;
  font-size: 1.2rem;
  padding-left: 20px;
  border: 2px solid hsl(270deg, 3%, 87%);
  color: hsl(270deg, 3%, 87%);
}
main .form form .cardholder--name {
  grid-column: 1/-1;
}
main .form form .card--number {
  grid-column: 1/-1;
}
main .form form .exp-month-year {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
main .form form .exp-month-year input {
  width: 100%;
  text-align: center;
}
main .form form button {
  grid-column: 1/-1;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
}
main .card {
  background: url("./images/bg-main-desktop.png");
  background-size: cover;
}
main .card .front, main .card .back {
  position: relative;
  display: flex;
}
main .card img {
  width: 400px;
}
main .card .front {
  top: 25px;
  left: 35%;
  color: white;
}
main .card .front .front-name {
  position: absolute;
  top: 75%;
  left: 7%;
}
main .card .front .card--id {
  position: absolute;
  top: 55%;
  left: 7%;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
main .card .front .exp--date {
  position: absolute;
  top: 78%;
  font-size: 0.9rem;
  left: 80%;
}
main .card .front .logo {
  width: 20%;
  position: absolute;
  top: 10%;
  left: 8%;
}
main .card .back {
  top: -25px;
  left: 60%;
}
main .card .back .card--number {
  position: absolute;
  top: 34%;
  left: 78%;
  font-size: 1.2rem;
  color: white;
}

#card--holder:hover {
  cursor: pointer;
}

#card--holder:focus, #card--number:focus, #month:focus, #year:focus, #cvc:focus {
  outline: none;
  border-left: 2px solid hsl(249deg, 99%, 64%);
  border-right: 2px solid hsl(278deg, 94%, 30%);
  border-top: 2px solid hsl(249deg, 99%, 64%);
  border-bottom: 2px solid hsl(278deg, 94%, 30%);
  color: black;
}/*# sourceMappingURL=styles.css.map */