$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
$Linear-gradient-input-active : linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$Red-input-errors: hsl(0, 100%, 66%);

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 1000px;
    height: 100vh;
    .card, .form {
        height: 100%;
    }
    .card {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 75px;
        padding: 30px;
        align-items: center;
    }
    .form {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            width: 400px;
            margin-left: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            gap: 15px;
        
            label , input {
                display: block;
                width:100%;
                padding: 7px;
                margin-bottom: 2px;
                font-family: 'Space Grotesk', sans-serif;
            }
            label {
                font-size: 0.9rem;
                letter-spacing: 2px;
                padding-left: 0;
            }
            input {
                border-radius: 5px;
                font-size: 1.2rem;
                padding-left: 20px;
                border: 2px solid $Light-grayish-violet;
                color: $Light-grayish-violet;
                position: relative;
            }
            .cardholder--name {
                grid-column: 1/-1;
            }
            .card--number {
                grid-column: 1/-1;
            }
            .exp-month-year {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                input {
                    width:  100%;
                    text-align: center;
                }
            }
            button {
                grid-column: 1/-1;
                margin-top: 30px;
                border-radius: 5px;
                font-size: 1.2rem;
                font-family: 'Space Grotesk', sans-serif;
                background-color: $Very-dark-violet;
                color: $White;
                font-weight: 400;
            }
        }
    }
    .card {
        background: url("./images/bg-main-desktop.png");
        background-size: cover;
        .front, .back {
            position: relative;
            display: flex;
        }
        img {
            width: 400px;
        }
        .front {
            top: 25px;
            left: 35%;
            color: white;
            .front-name {
                position: absolute;
                top: 75%;
                // font-size: 0.8rem;
                left: 7%;
            }
            .card--id {
                position: absolute;
                top: 55%;
                left: 7%;
                font-size: 1.5rem;
                letter-spacing: 3px;
            }
            .exp--date {
                position: absolute;
                top: 78%;
                font-size: 0.9rem;
                left: 80%;
            }
            .logo{
                width: 20%;
                position: absolute;
                top: 10%;
                left: 8%;
            }
        }
        .back {
            top: -25px;
            left: 60%;
            .cvc--number {
                position: absolute;
                top: 34%;
                left: 78%;
                font-size: 1.2rem;
                color: white;
            }
        }
    }
}

#card--holder:hover, #card--number:hover, #month:hover, #year:hover, #cvc:hover {
    cursor: pointer;
}
#card--holder:focus, #card--number:focus, #month:focus, #year:focus, #cvc:focus {
    outline: none;
    border-left: 2px solid hsl(249, 99%, 64%);
    border-right: 2px solid hsl(278, 94%, 30%);
    border-top: 2px solid hsl(249, 99%, 64%);
    border-bottom:2px solid hsl(278, 94%, 30%);
    color: black;
}

.error {
    display:none;
    position: absolute;
    top: 80%;
    left: 0;
    font-size: 0.8rem;
    padding: 2px;
    color: hsl(0, 100%, 66%);
}
.parent {
    position: relative;
}

#thanks {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 100px;
    h1{
        margin-bottom: 0;
    }
    p {
        margin: 0;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }
    button {
        width: 120%;
        font-size: 1.2rem;
        padding: 15px;
        border-radius: 10px;
        font-family: 'Space Grotesk', sans-serif;
        background-color: $Very-dark-violet;
        color: white;
        border: none;
    }
}

footer {
    padding: 20px;
    display: none;
}

@media screen and (width<=375px){
    body {
        font-size: 14px;
        justify-content: flex-start;
    }
    main {
        width: 100vw;
        min-width: unset;
        flex-direction: column;
        height: unset;
        .card {
            background-image: url("./images/bg-main-mobile.png");
            position: relative;
            height: 250px;
            width: 100%;
            .front, .back {
                position: absolute;
                transform: scale(0.65);
            }
            .front {
                z-index: 1;
                top: 100px;
                left: -10%;
            }
            .back {
                top: 10px;
                left: 0%;
            }
        }
        .form {
            padding: 20px;
            width: 100%;
            padding-top: 90px;
            #form {
                width:unset;
                margin-left: 0;
                label {
                    font-size: 0.8rem;
                }
                input {
                    font-size: 1.1rem;
                }
            }
        } 
        #thanks {
            margin-left: 0;
            margin-bottom: 50px;
        }
    }

}